body {
    background: #000;
    color: #fff;
}

.navbar a {
    color: #fff;
    font-weight: 100; 
}

.navbar a.active {
    color: #fff !important;
}

.nav-link:focus, .nav-link:hover {
    color: #fff;
}

.carousel-inner {
    height: 100vh;
}

.section_text {
    background: #5bbdff;
}

.card-body {
    background: #5bbdff;
}

footer a {
    color: #fff;
}