body {
    background: #000;
    color: #fff;
}

.navbar a {
    color: #fff;
    font-weight: 100; 
}

.nav-link:focus, .nav-link:hover {
    color: #0dcaf0 !important;    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0dcaf0 !important;
}

.carousel-inner {
    height: 100vh;
}

footer a {
    color: #fff;
}