body {
    font-family: "Inter", sans-serif;
    background: #000;
    color: #fff;
}
nav {
    transition: 0.9s;
}

nav.nav-color-scroll,
nav.nav-color-toggler {
    background: rgba(0, 0, 0, 0.9);
}

.navbar-toggler {
    border: 1px solid #FFFFFF80;
}

.navbar a {
    color: #fff;
    font-weight: 100; 
}

.nav-link:focus, .nav-link:hover {
    color: #0dcaf0 !important;    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0dcaf0 !important;
}

.carousel-inner {
    height: 100vh;
}

footer a {
    color: #fff;
    text-decoration: none;
}